<form method="post" action="{{ path('user_delete', {'id': user.id}) }}" onsubmit="return confirm('Seguro que quieres borrar al usuario?!?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn btn-primary" id="btnUsu">Eliminar</button>
</form>
