{% extends 'base.html.twig' %}

{% block title %}Editar usuario{% endblock %}

{% block body %}
    <h1 align="center">Editar usuario</h1>
    <div id="div1_2">
        {{ include('user/_form.html.twig', {'button_label': 'Actualizar'}) }}
        <div id="centrarBotones1">
        <a href="{{ path('user_index') }}" class="btn btn-primary">Volver a la lista</a>

        {{ include('user/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
