{% extends 'base.html.twig' %}

{% block title %}Tabla de usuarios
{% endblock %}

{% block body %}
    <h1 align="center">Tabla de usuarios</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Email</th>
				<th>Nombre</th>
				<th>Apellidos</th>
				<th>Fecha_nacimiento</th>
				<th>Sexo</th>
				<th>Ciudad</th>
				<th>Aficion</th>
				<th>Foto</th>
				<th>Accion</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.email }}</td>
					<td>{{ user.nombre }}</td>
					<td>{{ user.apellidos }}</td>
					<td>{{ user.fechaNacimiento ? user.fechaNacimiento|date('d-M-y') : '' }}</td>
					<td>{{ user.sexo }}</td>
					<td>
						{% if user.ciudad == null %}
							{{ "Ciudad eliminada" }}
						{% else %}
							{{ user.ciudad }}
						{% endif %}
					</td>
					<td>
						<ul>
							{% for aficion in user.getAficion() %}
								<li>{{ aficion }}</li>
							{% else %}
								<li>{{ "Sin aficiones" }}</li>
							{% endfor %}
						</ul>
					</td>
					<td>
						<img src="{{ asset( user.foto , 'imagenUsu') }}" class="img-fluid logo" alt="imagen_not_found">
					</td>
					<td>
						<a href="{{ path('user_show', {'id': user.id}) }}" class="btn btn-primary">Mostrar</a>
						<a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-primary">Editar</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="10">No hay Registros</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	<a href="{{ path('user_new') }}" class="btn btn-primary">Crear nuevo</a>
{% endblock %}
