{% extends 'base.html.twig' %}

{% block title %}Formulario Nuevos Usuarios{% endblock %}

{% block body %}
    <h1 align="center">Formulario nuevos usuarios</h1>
    <br>
    <div id="div1_2">
        <div id="centrarBotones">
        {{ include('user/_form.html.twig') }}
        </div>
    <a href="{{ path('user_index') }}" class="btn btn-primary">Volver a la lista</a>
    </div>
     
{% endblock %}
