{% extends 'base.html.twig' %}

{% block title %}Usuario
{% endblock %}

{% block body %}
	<h1 align="center">Datos personales</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Email</th>
				<td>{{ user.email }}</td>
			</tr>
			<tr>
				<th>Password</th>
				<td>***</td>
			</tr>
            <tr>
				<th>Nivel de acceso</th>
				<td>
					<ul>
						{% for roles in user.getRoles() %}
							<li>{{ roles }}</li>
						{% else %}
							<li>{{ "No tiene roles" }}</li>
						{% endfor %}
					</ul>
				</td>
			</tr>
			<tr>
				<th>Nombre</th>
				<td>{{ user.nombre }}</td>
			</tr>
			<tr>
				<th>Apellidos</th>
				<td>{{ user.apellidos }}</td>
			</tr>
			<tr>
				<th>Fecha de nacimiento</th>
				<td>{{ user.fechaNacimiento ? user.fechaNacimiento|date('d-m-Y') : '' }}</td>
			</tr>
			<tr>
				<th>Ciudad de origen</th>
				<td>{{user.ciudad}}</td>
			</tr>
			<tr>
				<th>Sexo</th>
				<td>{{ user.sexo }}</td>
			</tr>
			<tr>
				<th>Aficiones</th>
				<td>
					<ul>
						{% for aficion in user.getAficion() %}
							<li>{{ aficion }}</li>
						{% else %}
							<li>{{ "No tiene aficiones" }}</li>
						{% endfor %}
					</ul>
				</td>
			</tr>
            <tr>
				<th>Foto</th>
				<td>
					<img src="{{ asset( user.foto , 'imagenUsu') }}" class="img-fluid logo" alt="imagen_not_found">
				</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('user_index') }}" class="btn btn-primary" id="btnUsu">Volver a la lista</a>

	<a href="{{ path('user_edit', {'id': user.id}) }}" class="btn btn-primary" id="btnUsu">Editar</a>

	{{ include('user/_delete_form.html.twig') }}
{% endblock %}
