{% extends 'base.html.twig' %}

{% block title %}ACCESO DENEGADO
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1 class="h3 mb-3 font-weight-normal">ACCESO DENEGADO</h1>
		{% if app.user %}
			<div class="mb-3">
				<br>
				<p>Estás registrado como
					{{ app.user.username }}, pero este usuario no tiene acceso a esta página.</p>
			</div>
		{% endif %}

		<button class="btn btn-lg btn-primary">
			<a class="text-light" href="{{ path('index')}}">Regresar al Home.</a>
		</button>
	</div>
{% endblock %}
