{% extends 'base.html.twig' %}

{% block title %}Ciudades{% endblock %}

{% block body %}
    <h1>Lista de ciudades</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Ciudad</th>
                <th>Accion</th>
            </tr>
        </thead>
        <tbody>
        {% for ciudade in ciudades %}
            <tr>
                <td>{{ ciudade.nombreCiu }}</td>
                <td>
                    <a href="{{ path('ciudades_show', {'id': ciudade.id}) }}" class="btn btn-primary">Mostrar</a>
                    <a href="{{ path('ciudades_edit', {'id': ciudade.id}) }}" class="btn btn-primary">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">No hay ciudades para mostrar!!!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('ciudades_new') }}" class="btn btn-primary">Crear nueva</a>
{% endblock %}
