{% extends 'base.html.twig' %}

{% block title %}New Ciudades{% endblock %}

{% block body %}
    <h1 align="center">Crear nuevas Ciudades</h1>

    <div id="div1">{{ include('ciudades/_form.html.twig') }}
    
        <div id="centrarBotones">
        <a href="{{ path('ciudades_index') }}" class="btn btn-primary">Volver a la lista</a>
        </div>
    </div>
{% endblock %}
