{% extends 'base.html.twig' %}

{% block title %}Ciudades{% endblock %}

{% block body %}
    <h1>Ciudades</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ciudade.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ciudades_index') }}" class="btn btn-primary">Volver a la lista</a>

    <a href="{{ path('ciudades_edit', {'id': ciudade.id}) }}" class="btn btn-primary">Editar</a>

    {{ include('ciudades/_delete_form.html.twig') }}
{% endblock %}
