{% extends 'base.html.twig' %}

{% block title %}Practica4{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1 align="center" id="bienvenida">¡Bienvenido/a! </h1>

    <p id="bv">Deberás loguearte como administrador para poder acceder a toda la información disponible.</p> 
    <a href="{{ path('app_login')}}" class="btn btn-primary" id="logIn">Log in</a>
</div>
{% endblock %}
