<form method="post" action="{{ path('aficiones_delete', {'id': aficione.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ aficione.id) }}">
    <br>
    <button class="btn btn-primary">Eliminar</button>
</form>
