{% extends 'base.html.twig' %}

{% block title %}Nueva afición{% endblock %}

{% block body %}
    <h1 align="center">Crear nuevas Aficiones</h1>
    <br>
    <div id="div1">{{ include('aficiones/_form.html.twig') }}
        <div id="centrarBotones">
        <a href="{{ path('aficiones_index') }}" class="btn btn-primary">Volver a la lista</a>
        </div>
    </div>
{% endblock %}
