{% extends 'base.html.twig' %}

{% block title %}Aficiones{% endblock %}

{% block body %}
    <h1>Aficiones</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ aficione.id }}</td>
            </tr>
            <tr>
                <th>Aficion</th>
                <td>{{ aficione.getNomAficion() }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('aficiones_index') }}" class="btn btn-primary">volver a la lista</a>

    <a href="{{ path('aficiones_edit', {'id': aficione.id}) }}" class="btn btn-primary">editar</a>

    {{ include('aficiones/_delete_form.html.twig') }}
{% endblock %}
